.avatar{
    width: 359px;
    height: 540px;
}

.container {
    display: flex;
    justify-content: space-between;
}
.info{
    margin: 0 30px 0 30px;
}
@media (max-width: 360px){
   .container{
       flex-direction: column;
   }
}
